<form class="needs-validation" novalidate  (ngSubmit)="onSubmit()" [formGroup]="formCreateStuden">
  <div class="form-row">
    <div class="col-md-4 mb-3 md-form">
      <label for="validationCustom012">Nombres</label>
      <input [class.is-invalid] = "formCreateStuden.get('firstName').touched && formCreateStuden.get('firstName').invalid" type="text" class="form-control" required [(ngModel)]="student.firstName" id="firstName" formControlName="firstName">
      <div class="invalid-feedback">
        Por favor ingrese su nombre.
      </div>
    </div>
    <div class="col-md-4 mb-3 md-form">
      <label for="validationCustom022">Apellidos</label>
      <input  [class.is-invalid] = "formCreateStuden.get('lastName').touched && formCreateStuden.get('lastName').invalid" type="text" class="form-control" required [(ngModel)]="student.lastName" id="lastName" formControlName="lastName" value="{{student.lastName}}" >
      <div class="invalid-feedback">
        Por favor ingrese sus apellidos.
      </div>
    </div>
    <div class="col-md-4 mb-3 md-form">
      <label for="validationCustomUsername2">Identificación</label>
      <input [class.is-invalid] = "formCreateStuden.get('dni').touched && formCreateStuden.get('dni').invalid" type="number" class="form-control" required [(ngModel)]="student.dni" id="dni" formControlName="dni" aria-describedby="inputGroupPrepend2" value="{{student.dni}}">
      <div class="invalid-feedback">
        Por favor ingrese su identificación.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3 md-form">
      <label for="validationCustom032">Email</label>
      <input [class.is-invalid] = "formCreateStuden.get('email').touched && formCreateStuden.get('email').invalid"type="text" class="form-control" required [(ngModel)]="student.email" id="email" formControlName="email" >
      <div class="invalid-feedback">
        Por facvor ingrese su email.
      </div>
    </div>
    <div class="col-md-3 mb-3 md-form">
      <label for="validationCustom042">Teléfono</label>
      <input [class.is-invalid] = "formCreateStuden.get('telefono').touched && formCreateStuden.get('telefono').invalid" type="text" class="form-control" required [(ngModel)]="student.telefono" formControlName="telefono"  id="telefono" value="student.telefono" >
      <div class="invalid-feedback">
        Pör favor ingrese su teléfono.
      </div>
    </div>
    <div class="col-md-3 mb-3 md-form">
      <label for="validationCustom052">Ciudad</label>
      <input [class.is-invalid] = "formCreateStuden.get('ciudad').touched && formCreateStuden.get('ciudad').invalid" type="text" class="form-control" required [(ngModel)]="student.ciudad" formControlName="ciudad"id="ciudad" >
      <div class="invalid-feedback">
        Por favor ingrese la ciudad.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check pl-0">
      <input class="form-check-input" type="checkbox" value="" required [(ngModel)]="student.terminos" formControlName="terminos" id="terminos" >
      <label class="form-check-label" for="invalidCheck2">
        Acepta términos y condiciones.
      </label>
      <div class="invalid-feedback">
        Debe aceptar los términos.
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-sm btn-rounded" type="submit">Crear estudiante</button>
</form>